{% extends 'base.html'%}
{% load staticfiles %}
{% block csstyle %}
    <link href="{% static 'css/category.css' %}" rel="stylesheet">
{%  endblock %}

{%block content%}


    <div class="center-content">

    <div class="r_box">
        {% for item in cpu_obj_list %}
        <li>
            <i>
                <a href="{% url 'CPUNerd:cpu_detail' item.id %}" title="">
                    <img src="{{ item.image.url }}" alt="个人博客，我为什么要用帝国cms？">
                </a>
            </i>
            <h3>[ 顶 ] <a href="{% url 'CPUNerd:cpu_detail' item.id %}" target="_blank">{{ item.description }}</a></h3>
            <p>{{ item.content | safe }}</p>
        </li>
        {%  endfor %}


    </div>
    </div>


{% endblock %}