{% extends 'base.html'%}
{% load staticfiles %}
{% load extratags %}
{% block csstyle %}
<link href="{% static 'css/cpu_detail.css' %}" rel="stylesheet">
{%  endblock %}

{%block content%}
    <div class="center-content">

        <div class="artical_content">
            <div class="content_head">
                <h3 class="article_title">{{obj.description}}</h3>
                <p class="time">发布时间：{{obj.update_time | strftime}}&nbsp;</p>
            </div>
            <article>
                {{obj.content | safe}}
            </article>
            <div class="paging">
                <div class="paging_left"><span>last article：</span>{% if last_obj %}<a href="{% url 'CPUNerd:cpu_detail' last_obj.0 %}">{{last_obj.1}}</a>{% endif %}</div>
                <div class="paging_right"><span>next article：</span>{% if next_obj %}<a href="{% url 'CPUNerd:cpu_detail' next_obj.0 %}">{{ next_obj.1}}</a>{% endif %}</div>
            </div>

            <div class="send-comment">
                <form method="post" enctype="multipart/form-data" action="{% url 'CPUNerd:comment' %}?id={{ obj.id }}">
                    <textarea type="text" name="remark" placeholder="say something?"></textarea>
                    <button type="submit">发布</button>
                    {% csrf_token %}
                </form>
            </div>

            <div class="comment">
                <p>热门评论({{obj.comment_list.length}})</p>
                {% for item in obj.comment_list.all %}
                <div class="comment-item">
                    <image src="{{item.user.image.url}}"></image>
                    <div class="comment-content">
                        <div>
                            <p class="comment-author">{{item.user.username}}</p>
                            <p class="comment-publish-time">{{item.create_time}}</p>
                        </div>
                        <p>{{item.content}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>



    </div>


{%endblock%}