{% extends 'base.html'%}
{% load staticfiles %}
{% block csstyle %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{%  endblock %}

{%block content%}
    <div class="center-content">
        <div>
            <div id="demo" class="carousel slide" data-ride="carousel">
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img src="{{ obj.0.image.url }}">
                      <div class="carousel-caption">
                        <h3>{{ obj.0.description }}</h3>
                      </div>
                    </div>
                       <div class="carousel-item">
                      <img src="{{ obj.1.image.url }}">
                      <div class="carousel-caption">
                        <h3>{{ obj.1.description }}</h3>
                      </div>
                    </div>
                       <div class="carousel-item">
                      <img src="{{ obj.2.image.url }}">
                      <div class="carousel-caption">
                        <h3>{{ obj.2.description }}</h3>
                      </div>
                    </div>

              </div>
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
            <div id="match" onclick="window.open('{% url 'CPUNerd:match' %}','_self')">
                <img src="{% static 'img/match.png' %}">
            </div>
        </div>


        <div class="cpu-list">
            <div class="list-group">
                {% for item in obj %}
                  <a href="{% url 'CPUNerd:cpu_detail' item.id %}" class="list-group-item">
                      <div style="width: 60px;height: 60px;float: left">
                        <img src="{{ item.image.url }}" style="height:100%;width: 100%;" >
                      </div>

                      <div style="float: left;height: 60px;padding-left: 20px;width: calc(100% - 60px);">
                           <p style="font-size: 26px;">{{ item.description }}</p>
                          <div >
                              <span>
                                   category:{{ item.get_category_display }}
                              </span>

                              <span>
                                   purpose:{{ item.get_purpose_display }}
                               </span>
                              <span style="float: right;display: inline-block">
                                  price:<span style="color: red">${{ item.price }}</span>
                               </span>

                          </div>
                      </div>
                  </a>
                {% endfor %}
            </div>
        </div>

        <div class="rank-list">
            <div>
                <span>Rank</span>
                <span><a href="{% url 'CPUNerd:rank' %}">more>></a></span>
            </div>
            <ol>
                {% for item in obj %}
                <li {% if forloop.counter0 < 2 %}class="top" {% endif %}>
                    <em>{{ forloop.counter }}</em><p><a href="{% url 'CPUNerd:cpu_detail' item.id %}" title="">{{ item.description }}</a></p><span class="num">{{ item.mark }}</span>
                </li>
                {% endfor %}
            </ol>
        </div>

    </div>


{%endblock%}