{% extends 'base.html'%}
{% load staticfiles %}
{% block csstyle %}
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
{%  endblock %}

{%block content%}
<div class="container-fluid">
    
<div id="carousel-images" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-images" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-images" data-slide-to="1"></li>
    <li data-target="#carousel-images" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
        <a href="/cpunerd/category/?category=0"><img src="{% static 'img/carousel_amd3-cut.jpg' %}" class="d-block w-100" alt=""></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>
{#            <a href="/cpunerd/category/?category=0"> AMD releases third-generation Ryzen processors</a>#}
        </h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
        <a href="/cpunerd/cpu-detail/6"><img src="{% static 'img/amd7.jpg' %}" class="d-block w-100" alt=""></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>
{#            <a href="/cpunerd/cpu-detail/6">AMD Ryzen 7 3700X Gen3 8 Core AM4 CPU</a>#}
        </h5>
        <p></p>
      </div>
    </div>
    <div class="carousel-item">
        <a href="/cpunerd/category/?category=1"><img src="{% static 'img/carousel_intel10th-cut.jpg' %}" class="d-block w-100" alt=""></a>
      <div class="carousel-caption d-none d-md-block">
        <h5>
{#            <a href="/cpunerd/category/?category=1">Intel Core 10th Generation CPUs</a>#}
        </h5>
        <p></p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-images" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-images" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div style="height: 30px;"></div>
<div class="row">
    <div class="col-md-8">
        {%  for item in obj %}
        <div class="card mb-3 item-list">
  <div class="row no-gutters">
    <div class="col-md-4">
        <a href="{% url 'CPUNerd:cpu_detail' item.id %}"><img src="{{ item.image.url }}" class="card-img img-fluid" alt="" height="180pix;"></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'CPUNerd:cpu_detail' item.id %}">{{ item.description }}</a></h5>
        <p class="card-text">Category: <span class="badge badge-success">{{ item.get_category_display }}</span> </p>
          <p class="card-text">Purpose: <span class="badge badge-warning">{{ item.get_purpose_display }}</span></p>
        <p class="card-text"><strong>Price: <span class="text-danger"><i class="fas fa-dollar-sign"></i> {{ item.price }}</span></strong></p>
      </div>
    </div>
  </div>
</div>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <div onclick="window.open('{% url 'CPUNerd:match' %}','_self')"  style="cursor:pointer">
                    <img src="{% static 'img/match1.png' %}" onmouseover="this.src='{% static 'img/match2.png' %}'" onmouseout="this.src='{% static 'img/match1.png' %}'" class="img-fluid" style="display: block; width: 100%;">
            </div>
        <div class="rank-list">
                <div>
                    <span>Rank</span>
                    <span><a href="{% url 'CPUNerd:rank' %}">more>></a></span>
                </div>
                <ol>
                    {% for item in obj %}
                    <li {% if forloop.counter0 < 2 %}class="top" {% endif %}>
                        <em>{{ forloop.counter }}</em><p><a href="{% url 'CPUNerd:cpu_detail' item.id %}" title="">{{ item.description }}</a></p><span class="num">{{ item.mark }}</span>
                    </li>
                    {% endfor %}
                </ol>
            </div>
    </div>
</div>

</div>
{%endblock%}

