{% extends 'base.html' %}
{% load staticfiles %}
{% load extratags %}
{% block csstyle %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
{%  endblock %}
{% block content %}
    <div class="center-content">
       <div class="profile">
           <p>Personal information&nbsp</p>
           <form method="post" action="{% url 'user_profile:profile' %}" id="form1">
               <input name="id" style="display: none;" value="{{ user.id }}"/>
               <div class="left">
                   <div>
                       <img {% if user.image %} src="{{ user.image.url }}" {% endif %} id="avatar">
                       <input type="file" name="photo" id="upload-img"/>
                       {% if myself %}
                       <button type="button" class="btn btn-info" id="upload-img-btn">
                           Modify avatar
                       </button>
                       {% endif %}

                   </div>
                   <div>
                       {% if myself %}
                           <div>
                            <input type="password" name="password" id="password">
                            <button type="button" class="btn btn-info" onclick="change_password()">
                              &nbsp Change Password &nbsp
                            </button>
                           </div>
                       {% endif %}
                   </div>
               </div>
               <div class="right">
                   <div>
                       <span>&nbspNickname&nbsp:</span>&nbsp&nbsp&nbsp<input name="name" value="{{ user.last_name | format_none}}">
                   </div>
                   <div>
                       <span>&nbspHobby&nbsp:</span>&nbsp&nbsp&nbsp<input name="interest" value="{{ user.interest |format_none }}">
                   </div>
                   <div>
                       <span>&nbspGender&nbsp:</span>&nbsp&nbsp&nbsp
                       <label style="width: 80px;margin-left: 40px"><input name="sex" type="radio" value="0" {% if user.sex == 0 %} checked {% endif %}/>&nbspMale </label>
                       <label><input name="sex" type="radio" value="1" {% if user.sex == 1 %} checked {% endif %}/>&nbspFemale </label>
                   </div>
                   <div>
                       <span>&nbspAddress&nbsp:</span>&nbsp&nbsp&nbsp<input name="address" value="{{ user.address | format_none}}">
                   </div>
                   <div>
                       <span>&nbspPhone number&nbsp:</span>&nbsp&nbsp<input name="phone" value="{{ user.phone | format_none }}">
                   </div>
                   <div>
                       <span>&nbspE-maile&nbsp:</span>&nbsp&nbsp<input name="email" value="{{ user.email |format_none }}">
                   </div>
                   {% if myself %}
                   <div class="show-submit">
                       <input type="submit" class="btn btn-info" value = 'submit'}>
                   </div>
                   {% endif %}
               </div>
               {% csrf_token %}
           </form>
       </div>

    </div>
{% endblock %}

{% block js %}
    <script type="application/javascript">
    $(document).ready(function(){
        $('#upload-img-btn').click(function(){
            $('#upload-img').click();
        });

        // ①为input设定change事件
        $('#upload-img').change(function () {
        //    ②如果value不为空，调用文件加载方法
            if($(this).val() != ""){
                fileLoad(this);
            }
        })

    });

    function change_password() {
        var password = $("#password").val()
        $.post("{% url 'user_profile:reset-password' %}",{"password":password,"csrfmiddlewaretoken":"{{ csrf_token }}"},function(result){
            alert("Successfully modified");
          });

    }

    function fileLoad(ele){
          //④创建一个formData对象
        var formData = new FormData();
        //⑤获取传入元素的val
        var name = $(ele).val();
          //⑥获取files
        var files = $(ele)[0].files[0];
        //⑦将name 和 files 添加到formData中，键值对形式
        formData.append("file", files);
        formData.append("name", name);
        formData.append("csrfmiddlewaretoken", "{{ csrf_token }}");
        $.ajax({
            url: "{% url 'user_profile:change-avatar' %}",
            type: 'POST',
            data: formData,
            processData: false,// ⑧告诉jQuery不要去处理发送的数据
            contentType: false, // ⑨告诉jQuery不要去设置Content-Type请求头
            beforeSend: function () {
               //⑩发送之前的动作
                //alert("我还没开始发送呢");
            },
            success: function (responseStr) {
               //11成功后的动作
               $("#avatar").attr("src", JSON.parse(responseStr)['avatar'] + "?a"+Date());
               alert("Successfully modified");
            }
            ,
            error : function (responseStr) {
                //12出错后的动作
                alert("Error ！");
            }
        });
    }


    </script>
{% endblock %}